body {
    background-color: black;
    font-family: "Josefin Sans", sans-serif;
}

button {
    border-style: solid;
    text-align: center;
    display: block;
    border-radius: 10px;
    opacity: 0.5;
    background-color: rgb(220, 103, 52);
    background-image: linear-gradient(to bottom, #fff, transparent); 
    color: black;
    font-size: 20px;
    border-width: 1px;
    border-color: rgb(220, 103, 52);
    padding: 10px;
    width: 25%;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    opacity: 1;
}

button:active {
    background-image: linear-gradient(to top, #fff, transparent);
}

.scene {
    display: none;
    width: 760px;
    height: 670px;
    margin: auto;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-image: url('../assets/titlebackground.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.fadeout {
    background-color: black;
    width: 760px;
    height: 671px;
    position: absolute;
    z-index: 9999;
    transition: opacity 680ms;
}

#titleScene {
    display: flex;
}

#titleScene p {
    margin-top: 20px;
    font-size: 30px;
    color: rgb(233, 162, 132);
}

#titleScene p span {
    font-weight: bold;
}

#instructions h1 {
    font-size: 50px;
    color: rgb(233, 162, 132);
    text-align: center;
}

#instructions p {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(233, 162, 132);
    text-align: center;
}
#door {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    background-image: url('../assets/exit.png');
    animation: door infinite 3s steps(1);
}

@keyframes door {
    0% {background-position-x: 0px}
    25% {background-position-x: 180px}
    50% {background-position-x: 120px}
    75% {background-position-x: 60px}
}

#enemy {
    margin-top: 20px;
    width: 48px;
    height: 48px;
    background-image: url('../assets/enemy.png');
    animation: enemy infinite 0.7s steps(1);
}

@keyframes enemy {
    0% {background-position-x: 0px}
    25% {background-position-x: 96px}
    50% {background-position-x: 48px}
    75% {background-position-x: 96px}
}

#highscores {
    color: rgb(233, 162, 132);
}

#highscores h1 {
    font-size: 50px;
    color: rgb(233, 162, 132);
    text-align: center;
}

#score-headers {
    width: 350px;
    display: flex; 
    justify-content: space-around;
}

table {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(233, 162, 132);
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px;
}

thead {
    text-decoration: underline;
}

th, td {
    padding: 0px 15px; /* Increase horizontal padding */
}

#main {
    position: relative;
    background-image: none;
}

.face {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 48px; 
    height: 48px; 
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    z-index: 1000;
}

#hud-bg {
    background-color: black;
}

#hud-face {
    background-image: url('../assets/player-face.png');
    background-size: contain;
}

.bar {
    position: absolute;
    top: 14px;
    right: 40px;
    width: 96px; 
    height: 24px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: solid;
    border-width: 1px;
    z-index: 1000;
}

#hpbar-bg {
    background-color: black;
}

#hpbar {
    background-image: linear-gradient(to left, white, red);
    border-color: black;
    transition: width 1s
}

#hud-lvl {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 20px;
    background-color: rgba(233, 162, 132, 80%);
    border-radius: 10px;
    padding: 5px;
}

#hud-score {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 20px;
    background-color: rgba(233, 162, 132, 80%);
    border-radius: 10px;
    padding: 5px;
}

#gamespace {
    background-image: url('../assets/floor-texture.png');
    width: 659px;
    height: 570px;
    border-width: 1px;
    margin: 50px 50px;
}

#border-top {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 51px;
    width: 100%;
}

#border-bottom {
    position: absolute;
    top: 620px;
    left: 0px;
    height: 50px;
    width: 100%;
}

#border-left {
    background-image: url('../assets/wall-texture-left.png');
    background-position: 51px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 100%;
}

#border-right {
    background-image: url('../assets/wall-texture-right.png');
    position: absolute;
    top: 0px;
    left: 709px;
    width: 50px;
    height: 100%;
}

#gameoverScene {
    position: relative;
}

#gameoverScene p {
    margin-top: 20px;
    font-size: 30px;
    color: rgb(233, 162, 132);
}

#submit-box {
    display: none;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(153, 66, 28);
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}

#submit-name {
    margin-top: 10px;
    width: 80%;
    background-color: white;
}

#submit-box button {
    width: 33%;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}