body {
    background-color: black;
    font-family: "Josefin Sans", sans-serif;
}

button {
    border-style: solid;
    text-align: center;
    display: block;
    border-radius: 10px;
    opacity: 0.7;
    background-color: rgb(220, 103, 52);
    background-image: linear-gradient(to bottom, #fff, transparent); 
    color: black;
    font-size: 20px;
    border-width: 1px;
    border-color: rgb(220, 103, 52);
    padding: 10px;
    width: 25%;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    opacity: 1;
}

button:active {
    background-image: linear-gradient(to top, #fff, transparent);
}

.scene {
    display: none;
    width: 760px;
    height: 670px;
    margin: auto;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-image: url('../images/titlebackground.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.title-anim {
    animation: title infinite 3s ease-in-out;
}

@keyframes title {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.fadeout {
    background-color: black;
    width: 760px;
    height: 671px;
    position: absolute;
    z-index: 9999;
    pointer-events: none;
    transition: opacity 680ms;
}

.float {
    animation: float infinite 1s ease-in-out;
}

@keyframes float {
    0% {background-position-y: 0px}
    50% {background-position-y: -8px}
    100% {background-position-y: 0px}
}

/* Title Scene */
#titleScene {
    display: flex;
}

#titleScene p {
    margin-top: 20px;
    font-size: 25px;
    color: rgb(233, 162, 132);
}

#titleScene p span {
    font-weight: bold;
}

/* Instructions Scene */
#instructions {
    justify-content: space-evenly;
    color: rgb(233, 162, 132);
}

.howto-section {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

#instructions h1 {
    font-size: 40px;
    text-align: center;
}

#instructions h2 {
    font-size: 20px;
    text-align: center;
}

#instructions p {
    font-size: 17px;
    text-align: center;
}

.howto-row {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#howto-chest {
    width: 48px;
    height: 48px;
    animation: chest infinite 3s steps(1);
    margin-top: 3px;
    margin-left: 10px;
}

@keyframes chest {
    0% {background-position-y: 0px}
    25% {background-position-y: 144px}
    50% {background-position-y: 96px}
    75% {background-position-y: 48px}
}

#exit {
    display: block;
    width: 60px;
    height: 60px;
    animation: door infinite 3s steps(1);
}

@keyframes door {
    0% {background-position-x: 0px}
    25% {background-position-x: 180px}
    50% {background-position-x: 120px}
    75% {background-position-x: 60px}
}

.monster {
    width: 48px;
    height: 48px;
    animation: monster infinite 1s steps(1);
    margin-bottom: 10px;
    margin-top: 10px;
}

@keyframes monster {
    0% {background-position-x: 0px}
    25% {background-position-x: 96px}
    50% {background-position-x: 48px}
    75% {background-position-x: 96px}
}

#howto-trap {
    width: 48px;
    height: 48px;
    animation: trap infinite 3s steps(1);
    margin-bottom: 10px;
    margin-top: 10px;
}

@keyframes trap {
    0% {background-position-y: 0px}
    16% {background-position-y: 144px}
    32% {background-position-y: 96px}
    48% {background-position-y: 48px}
    64% {background-position-y: 96px}
    80% {background-position-y: 144px}
}

#item-table {
    margin-top: 15px;
}

#item-table td {
    color: rgb(233, 162, 132);
    vertical-align: middle;
}

.item {
    width: 48px;
    height: 48px;
}

.item-desc {
    width: 210px;
}

#instructions button {
    margin-top: 0px;
}

/* High Scores Scene */
#highscores {
    color: rgb(233, 162, 132);
}

#highscores h1 {
    font-size: 50px;
    color: rgb(233, 162, 132);
    text-align: center;
}

#score-table {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(233, 162, 132);
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px;
}

#score-table thead {
    text-decoration: underline;
}

#score-table th, #score-table td {
    padding: 0px 15px; /* Increase horizontal padding */
}

/* Main Scene (HUD) */
.face {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 48px; 
    height: 48px; 
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    z-index: 1000;
}

#hud-bg {
    background-color: black;
}

#hud-face {
    background-image: url('../images/player-face.png');
    background-size: contain;
}

#hpbar-frame {
    position: absolute;
    top: 14px;
    right: 45px;
    width: 96px; 
    height: 24px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: solid;
    border-width: 1px;
    z-index: 1000;
    border-color: black;
    overflow: hidden;
}

#hpbar-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

#hpbar-content {
    position: absolute;
    right: 0;
    height: 100%;
    background-image: linear-gradient(135deg, red 25%, white 50%, red 75%);
    background-size: 200% 100%;
    transition: width 1s;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    0% {background-position: 100% 0;}
    100% {background-position: -100% 0;}
}

#hud {
    position: absolute;
    top: 10px;
    left: 1150px;
    width: 95px;
    height: 430px; 
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#hud > * {
    background-color: rgba(233, 162, 132, 80%);
    border-radius: 10px;
    text-align: center;
}

#hud h1 {
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin: 3px 3px;
    padding: 1px;
}

.bonus {
    font-size: 12px;
    margin: 3px 3px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(149, 149, 149);
    color: rgb(82, 82, 82);
}

.bonus-active-g {
    background-image: linear-gradient(135deg, rgb(0, 240, 0) 25%, white 50%, rgb(0, 240, 0) 75%);
    background-size: 200% 100%;
    animation: shine 3s linear infinite;
    color: black
}

.bonus-active-b {
    background-image: linear-gradient(135deg, blue 25%, white 50%, blue 75%);
    background-size: 200% 100%;
    animation: shine 3s linear infinite;
    color: black
}

.bonus-active-y {
    background-image: linear-gradient(135deg, yellow 25%, white 50%, yellow 75%);
    background-size: 200% 100%;
    animation: shine 3s linear infinite;
    color: black
}

#inventory {
    display: flex;
    flex-direction: column;
}

.inventory-row {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
}

.inventory {
    width: 32px;
    height: 32px;
    background-size: contain;
}

.inv-num {
    width: 12px;
    text-align: center;
}

#priority-current {
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
}

.toggle {
    display: none;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

#priority-toggleL {
    border-right: 16px solid rgba(255, 255, 255, 0.5);;
}

#priority-toggleR {
    border-left: 16px solid rgba(255, 255, 255, 0.5);;
}

.toggle-active {
    cursor: pointer;
    display: block;
}

#btn-pause {
    width: 100%;
    margin: 0;
}

/* Main Scene (Game Screen) */
#main {
    position: relative;
    background-image: none;
}

.damage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: damage 1s ease-out forwards;
}

@keyframes damage {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.item-collected {
    transition: opacity 0.5s
}

.item-used {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 800;
    animation: item-used 1s linear forwards;
}

@keyframes item-used {
    75% {opacity: 1; top: -32px;}
    100% {opacity: 0; top: -32px;}
}

.dying {
    animation: dying 1s steps(10);
}

@keyframes dying {
    0% { opacity: 1; }
    10% { opacity: 0; }
    20% { opacity: 1; }
    30% { opacity: 0; }
    40% { opacity: 1; }
    50% { opacity: 0; }
    60% { opacity: 1; }
    70% { opacity: 0; }
    80% { opacity: 1; }
    90% { opacity: 0; }
    100% { opacity: 1; }
}

.sepia-layer {
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 950;
    border-radius: 50%;
    background-color: rgba(112, 66, 20, 0.5); /* Sepia-like color */
    mix-blend-mode: color;
}

.freeze-time {
    display: block;
    animation: freeze-time 1s linear forwards;
}

@keyframes freeze-time {
    0% {transform: scale(1);}
    100% {transform: scale(100);}
}

.spikes-pullout {
    animation: spikes-pullout 0.5s steps(1) forwards;
}

@keyframes spikes-pullout {
    0% {background-position-y: 0px}
    25% {background-position-y: 144px}
    50% {background-position-y: 96px}
    75% {background-position-y: 48px}
    100% {background-position-y: 48px}
}

.spikes-retract {
    animation: spikes-retract 0.5s steps(1) forwards;
}

@keyframes spikes-retract {
    0% {background-position-y: 48px}
    25% {background-position-y: 96px}
    50% {background-position-y: 144px}
    75% {background-position-y: 0px}
    100% {background-position-y: 0px}
}

#floor {
    background-image: url('../textures/floor-texture1.png');
    width: 659px;
    height: 570px;
    border-width: 1px;
    margin: 50px 50px;
    z-index: -1;
}

#border-top {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 51px;
    width: 100%;
}

#border-bottom {
    position: absolute;
    top: 620px;
    left: 0px;
    height: 50px;
    width: 100%;
}

#border-left {
    background-image: url('../textures/wall-texture-left.png');
    background-position: 51px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 100%;
}

#border-right {
    background-image: url('../textures/wall-texture-right.png');
    position: absolute;
    top: 0px;
    left: 709px;
    width: 50px;
    height: 100%;
}

#pause-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#pause-text {
    text-align: center;
    font-size: 50px;
}

/* Game Over Scene */
#gameoverScene {
    position: relative;
}

#player-down {
    margin-top: 15px;
    width: 48px;
    height: 48px;
    background-image: url('../spritesheets/player-down.png');
}

#gameoverScene p {
    margin-top: 20px;
    font-size: 30px;
    color: rgb(233, 162, 132);
}

#submit-box {
    display: none;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(153, 66, 28);
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}

#submit-name {
    margin-top: 10px;
    width: 80%;
    background-color: white;
}

#submit-box button {
    width: 33%;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}