.scene {
    display: none;
    width: 760px;
    height: 670px;
    margin: auto;
    border-style: solid;
    border-width: 1px;
} 

#start {
    display: block;
}

#main {
    position: relative;
    background-color: gray;
}

#gamespace {
    background-color: brown;
    width: 660px;
    height: 570px;
    border-style: solid;
    border-width: 1px;
    margin: 50px 50px;
}

#stats {
    position: absolute;
    left: -80px
}

button {
    width: 33%;
    margin: auto;
    margin-top: 40%;
    display: block;
    border-style: solid;
    text-align: center;
}